<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Timesheet Tracker</title>
    <script src="/static/webjars/jquery/jquery-3.1.1.min.js"></script>
    <script src="/static/webjars/jquery/jquery.cookie.js"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/static/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/webjars/bootstrap/4.0.0/css/bootstrap.css"/>

    <script src="/static/webjars/angularjs/1.6.1/angular.js"></script>
    <script src="/static/webjars/angularjs/1.6.1/angular-resource.js"></script>
    <script src="/static/webjars/angularjs/1.6.1/angular-route.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <script src="/static/js/app.js"></script>
    <script src="/static/js/directives/radial-progress-bar.js"></script>
</head>
<body ng-controller="timesheetController" data-ng-init="init()">
    <nav class="navbar navbar-light bg-faded">
        <a class="navbar-brand" href="#">
            <h1 class="navbar-brand mb-0">Time-sheet tracker</h1>
        </a>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-9 left-panel">
                <div>
                    <b>Time-sheets filled so far</b>
                </div>
                <div>

                    <radial chart-data="missingTimeSheetPercentageData" ng-if="dataHasLoaded"></radial>
                </div>
            </div>
            <div class="col-3 right-panel">
                <div>
                    <b>Defaulters</b>
                    <div>
                        <div ng-repeat="defaulter in listOfDefaulters track by $index"><b style="font-size: xx-large;">{{defaulter}}</b><br></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>