<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Timesheet Tracker</title>
    <link rel="stylesheet" type="text/css" href="/static/webjars/bootstrap/4.0.0/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body ng-controller="timesheetController" data-ng-init="init()">

    <div class="wrapper">
        <div class="sky">
            <div class="timesheet-header">
                <div class="timesheet-title">TIMESHEET REMINDER <span>(70%)</span></div>
            </div>
            <div class="clouds">
                <div class="cloud-1" data-speed="35000"></div>
            </div>

        </div>
        <div class="ocean">

            <div class="boat-wrapper" ng-repeat="record in missingTimeSheetPercentageData" ng-if="dataHasLoaded">
                <boat record="record"></boat>
            </div>


            <div class="fish">
                <div class="head"></div>
                <div class="body"></div>
                <div class="tail"></div>
                <div class="eye"></div>
            </div>
        </div>

    </div>

    <div class="carousel-wrapper">
        <h2>Timesheet Defaulters</h2>
        <defaulter data="listOfDefaulters" ng-if="defaulterDataHasLoaded"></defaulter>
    </div>


    <script src="/static/webjars/jquery/jquery-3.1.1.min.js"></script>
    <script src="/static/webjars/jquery/jquery.cookie.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="/static/webjars/bootstrap/4.0.0/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

    <script src="/static/webjars/angularjs/1.6.1/angular.js"></script>
    <script src="/static/webjars/angularjs/1.6.1/angular-resource.js"></script>
    <script src="/static/webjars/angularjs/1.6.1/angular-route.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/directives/defaulter-carousel.js"></script>

    <script src="/static/js/directives/boat.js"></script>
    <script src="/static/js/animation.js"></script>
</body>
</html>